<!-- Display All Drinks -->
<br>
<%= link_to "Add A New Drink", new_cocktail_path, class: "btn btn-info"  %>
<p></p>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm-4" "card-index" style="display: inline-grid" >
      <%= image_tag url_for(cocktail.img_url), :class => "cocktail_img"  %>
      <%= link_to cocktail.name, cocktail_path(cocktail)  %>
    </div>
    <% end %>
</div>
<br>
