.banner {
  background-size: cover;
  background-position: center;
  height: 250px;
  padding: 150px 0;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  h2 {
    font-size: 38px;
    margin-left: 25px;
    margin-right: 50px;
    padding-left: 25px;
    background-color: rgba(176, 135, 34, .8);
  }
  p {
  font-size: 20px;
  padding-left: 25px;
  color: white;
  opacity: .7;
  background-color: rgba(187, 76, 84, .7);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-left: 50px;
  margin-right: 25px;
  }
}
